@import "/src/styles/variables";

.productBigCard {
  padding: 0.5rem;
  background-color: $secondary;
  display: flex;
  flex-direction: column;
  h1 {
    font-size: 1.5rem;
  }
  p {
    color: $primaryLight;
    font-size: 0.8rem;
    margin: 1rem 0rem;
    line-height: 1.2rem;
    text-align: justify;
  }
}

@media (max-width: 767px) {
  .productBigCard {
    h1 {
      font-size: 1.2rem;
    }
  }
}
