
  
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
  
  // colors
  $primary: #000000;
  $primaryLight:  #8091A5;
  $primaryDark: #707070;

  $secondary: #ffffff;
  $secondaryLight: #ffffff;
  $secondaryDark: #c2c2c2;

  $background: #F5F5F5;
  $backgroundLight: #F1F3F6;
  $backgroundDark: #080808;

  